/*共通*/
body{
    color: #333;
    font-family: "Montserrat","Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
}

p{
    font-size: 16px;
    line-height: 1.8;
}

.mg30{
    margin-bottom: 30px;
}

.mg100{
    margin-bottom: 100px !important;
}

.w768 {
    max-width: 768px;
    margin: auto;
    width: 96%;
}

.w960{
    max-width: 960px;
    margin: auto;
    width: 96%;
}

.w1000{
    max-width: 1000px;
    margin: auto;
    width: 96%;
}

.w1400{
    max-width: 1400px;
    margin: auto;
    width: 96%;
}

/*見出し*/
.sec__ttl{
    margin-bottom: 50px;
}

.sec__ttl--top{
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
    color: #C71585;
}

.sec__ttl--top::first-letter {
    text-transform: capitalize;
}

.sec__ttl--bottom{
    font-size: 1.8em;
    text-transform: capitalize;
    color: #696969;
}

.center{
    text-align: center;
}

/*ヘッダー*/
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.header_logo{
    width: 10%;
}

.header_logo img{
    width: 100%;
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__list{
    margin-left: 20px;
    list-style-type: none;
    text-transform: capitalize;
}

.header__list a{
    text-decoration: none;
    color: #333;
}

/*firstview*/
.firstview{
    position: relative;
}

.firstview__img{
    margin: 0 0 0 auto;
    display: block;
    width: 60%;
}

.firstview__img img{
    width: 100%;
}

.firstview-inner{
    position: absolute;
    top: 15%;
    left: 18%;
}

.firstview__ttl{
    font-size: 6em;
    color: #C71585;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
}

.firstview__ttl::first-letter {
    text-transform: capitalize;
}

.firstview__subttl{
    font-size: 1.5em;
    color: #C71585;
    margin-top: 40px;
    font-weight: 900;
}

.firstview__lead{
    margin-top: 20px;
    line-height: 1.8;
}

.firstview__pickup{
    color: #20B2AA;
}

/*news*/
.topinfo__list{
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    padding: 30px 0;
}

.topinfo__item{
    padding: 20px 0;
    list-style: none;
}

.topinfo__item:not(:first-child){
    border-top: 1px solid #A9A9A9;
}

.topinfo__item:nth-child(5) {
    border-bottom: 1px solid #A9A9A9;
}

.topinfo__item-cat{
    margin:auto 30px;
    background-color: #C71585;
    color: #fff;
    border-radius: 30px;
    padding:3px 10px;
}

/*about*/
.about{
    background-color: #F5F5F5;
    padding: 50px 0;
}
.about-inner{
    display: flex;
    justify-content: space-between;
}

.about_txt{
    width: 45%;
}

.about__img{
    width: 45%;
}

.about__img img{
    width: 100%;
}

/*service*/
.service{
    color: #fff;
}

.service__grid{
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 1fr 1fr;
}

.service__box1{
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: #C71585;
    position: relative;
}

.service__box-item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.service__box2{
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #ba55d3;
}

.service__box3{
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #dda0dd;
}

.service-inner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.service__img{
    width: 30%;
    margin-right: 10px;
}

.service__img img {
    width: 100%;
}

.service__img2 {
    width: 45%;
    margin-bottom: 10px;
}

.service__img2 img{
    width: 100%;
}

.service__ttl{
    font-size: 18px;
    margin-bottom: 10px;
}

/*blog*/
.blog{
    background-color: #F5F5F5;
    padding: 50px 0;
}
.blog__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.blog__card{
    width: 30%;
    position: relative;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.card__cat{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #C71585;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    text-transform: capitalize;
}

.card__img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card__img img{
    width: 100%;
}

.card__txt{
    padding: 20px;
}

.card__ttl{
    line-height: 1.8;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 30px;
}

.card__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__btn{
    padding: 15px 40px;
    color: #C71585;
    border: 2px solid #C71585;
    background-color: #fff;
    text-decoration: none;
    border-radius: 30px;
}

/*company*/
.company__table{
    width: 100%;
    border-collapse: collapse;
}

.company__th,
.company__td{
    border: 1px solid #A9A9A9;
    padding: 20px;
    text-align: left;
}

.company__th{
    background-color: #F5F5F5;
}

/*content*/
.content-inner{
    display: flex;
    align-items: center;
}

.content__item{
    position: relative;
    width: 50%;
}

.content__img{
    width: 100%;
}

.content__img img{
    width: 100%;
}

.content__ttl{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2em;
}

/*contact*/
.contact__ttl{
    font-size: 1.5em;
}

.contact__border{
    max-width: 3px;
    margin:30px auto;
    background-color: #C71585;
    width: 100%;
    height: 50px;
}

.contact__cbtn{
    padding: 20px 60px;
    color: #fff;
    background: linear-gradient(90deg, #FF1493, #C71585);
    text-decoration: none;
    border-radius: 30px;
    position: relative;
    display: inline-block;
    box-shadow: 0 7px 0 #8B008B;
}

.contact__cbtn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    background: url(../img/mailicon.svg) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
}

/*footer*/
.footer{
    background-color: #F5F5F5;
    padding: 50px 0;
}

@media screen and (max-width:1200px) {
    /*firstview*/
    .firstview__ttl {
        font-size: 4.5em;
    }
    .firstview__subttl {
        font-size: 1.3em;
    }

    /*content*/
    .content__ttl {
        font-size: 1.7em;
    }
}